<!-- <!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        
        
        
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        
        
        
       
    </session-factory>
</hibernate-configuration> -->

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernateintro?useSSL=false&amp;serverTimezone=UTC&amp;createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">examly</property>
        
        <!-- Schema auto-generation settings -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- Other Hibernate properties -->
        
        <mapping class="com.examly.springapp.entity.Student"/>
       
    </session-factory>
</hibernate-configuration>
